body {
	font-family: Roboto, sans-serif;
}

.header {
    position: relative;
    background: #161616;
	width: 100%;
    z-index: 10;
}

.navbar {
    position: relative;
    min-height: 50px;
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 992px) {
	.navbar {
		padding: 0;
	}
}

.navbar-light .navbar-toggler {
	background-color: #ffb81c;
    color: #ffffff;
    border-color: #ffb81c;
}
.nav-item {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.navbar-light .navbar-nav .nav-link {
    display: block;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: .3px;
    text-transform: none;
    color: #d6d6d6;
    padding: 25px 0;
	border-bottom: 3px solid transparent;
	margin: 0;
    transition: color .15s linear;
}

@media (min-width: 992px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 25px 10px;
		margin: 0 10px;
	}
}

.navbar-light .navbar-nav .nav-link:hover,
.nav>li>a:focus,
.nav>li>a:hover {
	background: #161616;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 3px solid #ffb81c;
}

#contact-form {
    margin: 100px 0 50px;
}

h1 {
	font-family: Roboto, sans-serif;
	font-size: 4em;
    line-height: 1em;
    font-weight: 500;
    margin: 0 0 20px;
    padding: 0;
}

h2 {
	font-family: Roboto, sans-serif;
	font-size: 1.2em;
    line-height: 1em;
    font-weight: 300;
	margin-bottom: 50px;
}

h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ffb81c;
}

a {
    color: #939598;
    text-decoration: none;
}

legend {
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #373a36;
    margin: 0 0 24px;
	border-bottom: 0;
}

.form-group {
	position: relative;
    margin-top: 20px;
    margin-bottom: 15px;
}

label,
.checkbox label {
	font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1;
    color: #939598;
    margin-bottom: 0;
}

textarea {
	resize: vertical;
}

input.form-control,
select.form-control,
textarea.form-control {
    width: 100%;
    background: transparent;
    font-size: 15px;
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid #939598;
    border-radius: 0;
    padding: 6px 0;
    outline: 0;
    box-sizing: border-box;
	box-shadow: none;
}

input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus,
input.form-control:hover,
select.form-control:hover,
textarea.form-control:hover {
    border-bottom: 1px solid #ffb81c;
	box-shadow: none;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    z-index: 1;
}

input[type=checkbox]:checked:before,
input[type=checkbox]:checked:before {
    content: "\2714";
    display: inline-block;
    background: #fff;
    font-size: 1.2em;
    line-height: 1.2em;
    width: 25px;
    height: 25px;
    border: 1px solid #d2d2d2;
    padding: 2px 0 0 5px;
    margin: -3px 0 0 -10px;
    cursor: pointer;
}

input[type=checkbox]:not(:checked):before,
input[type=checkbox]:not(:checked):before {
    content: "\2714";
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #fff;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #fff;
    border: 1px solid #d2d2d2;
    padding: 0 0 0 6px;
    margin: -3px 0 0 -10px;
    cursor: pointer;
}

.checkbox label {
    font-size: 15px;
    line-height: 27px;
    color: #373a36;
    padding-left: 10px;
}

.checkbox input {
	position: relative;
}

.btn-default {
    position: relative;
    display: inline-block;
    min-width: 140px;
    max-width: 100%;
    background: #ffb81c;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #262626;
    border: 1px solid #ffb81c;
    border-right: 0;
	border-radius: 0;
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-right: 45px;
    cursor: pointer;
    z-index: 1;
	transition: none;
}

.btn-default:after,
.btn-default:before {
    content: "";
    position: absolute;
    display: block;
}

.btn-default:before {
    top: 50%;
    right: 4px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 5px solid #000;
    margin-top: -5px;
}

.btn-default:after {
    top: -1px;
    right: -1px;
    bottom: 0;
    width: 40px;
    background: #ffb81c;
    border: 1px solid #ffb81c;
    border-left: 0;
    border-bottom: 0;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    transform: skew(-25deg);
    z-index: -1;
}

.btn-default:hover,
.btn-default:hover:after,
.btn-default:active:hover,
.btn-default:active:hover:after,
.btn-default:active:focus,
.btn-default:active:focus:after {
    background: #ffd069;
	border-color: #ffd069;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

.btn.disabled,
.btn:disabled {
    opacity: .5;
    cursor: not-allowed;
}

#result {
    width: 100%;
    min-height: 50px;
    max-height: 200px;
    overflow-wrap: break-word;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ffb81c;
    border-radius: 10px;
	margin-top: 20px;
}

#sign {
    width: 100%;
    min-height: 600px;
}

.hide {
    display: none;
}